form(action='/addPlayer', method='POST')
	div.form-group
		label(for='name') Player Name
		input.form-control#name(type='text', placeholder='Enter Name', maxlength='50', name='name', data-valid='/checkName')
	button.btn.btn-default(type='submit') Submit