extends layout

block content
  div.row.row-offcanvas.row-offcanvas-left#container
    div.col-md-4.sidebar-offcanvas#menu
      ul.nav.nav-pills.nav-stacked
        li
          a(href='/players/add') Add Player
        li
          a(href='/players') Manage Players
        li
          a(href='/match/add') Create Match
        li
          a(href="/match/history") Match History
          
    div.col-md-8#content
