extends layout

block content
  div.row.row-offcanvas.row-offcanvas-left#container
    div.col-md-4.sidebar-offcanvas#menu
      ul.nav.nav-pills.nav-stacked
        li
          a#add-player(href='/players/add') Add Player
        li
          a#manage-players(href='/players') Manage Players
        li
          a#create-match(href='/match/add') Create Match
        li
          a#match-history(href="/match/history") Match History
          
    div.col-md-8#content
